:root {
  --primary-font: "Poppins", sans-serif;

  --heading-font: "Playfair Display", serif;

  --main-branding-color: #6c63ff;
  --primary-color: #f9f7fe;
  --secondary-color: #272142;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}
h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 1.5;
}

p {
  font-family: var(--primary-font);
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0 0 0;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
nav a {
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav a.active {
  color: var(--main-branding-color);
}
li {
  font-family: var(--primary-color);
  font-size: 16px;
}
.hero {
  padding: 160px 20px;
  text-align: center;
  background-color: var(--primary-color);
}
.hero h2 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 24px;
  color: var(--secondary-color);
}
.hero p {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
}
.btn-branding {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  background-color: var(--main-branding-color);
  color: white;

  border-radius: 4px;
  padding: 20px 30px;
  transition: all 100ms ease-in-out;
}
.btn-branding:hover {
  border: solid 1px var(--main-branding-color);
  color: #6c63ff;
  background-color: white;
}
.project-paragraph {
  padding: 120px 30px;
}
.project-paragraph h2 {
  font-weight: 700;
  font-size: 64px;
}
.project-paragraph p {
  font-size: 16px;
}
.btn-branding-project {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  border: 1px solid var(--main-branding-color);
  color: var(--main-branding-color);
  border-radius: 4px;
  padding: 20px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding-project:hover {
  color: white;
  background-color: var(--main-branding-color);
}
.content {
  padding: 90px 40px;
}
.content h1 {
  font-size: 64px;
}
.content h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 700;
}
.content p {
  padding: 0;
  font-size: 16px;
}
.profile {
  border-radius: 10px;
}

.content h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 24px;
}
.content a {
  transition: all 100ms ease-in-out;
}
.content a:hover {
  color: var(--main-branding-color);
}
.work-galerie p {
  font-size: 14px;
  padding: 0;
  line-height: 1.5;
}
.logo {
  max-height: 40px;
}

footer {
  margin: 60px 0;
}
.contact-call {
  border-radius: 12px;
  padding: 40px 120px;
  background-color: var(--primary-color);
  margin-bottom: 60px;
}
.contact-call h3 {
  font-size: 48px;
  font-weight: 700;
}
.contact-call a {
  margin-top: 5px;
}
.contact-call p {
  margin: 0;
  padding: 0;
}
footer .email-link {
  font-size: 24px;
  transition: all 100ms ease-in-out;
}
footer .email-link:hover {
  color: var(--main-branding-color);
  line-height: 1.5;
}
footer .social-links {
  margin: 20px;
  background-color: var(--primary-color);
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
  color: var(--main-branding-color);
  transition: all 100ms ease-in-out;
}
footer .social-links:hover {
  color: white;
  background-color: var(--main-branding-color);
}
@media (max-width: 1000px) {
  h1 {
    font-size: 44px;
  }
  p {
    margin: 0;
  }
  .hero {
    padding: 20px;
  }
  .hero p {
    font-size: 30px;
  }
  .project-paragraph {
    padding: 0;
    text-align: center;
  }

  .project-paragraph h2 {
    font-size: 44px;
    padding-top: 50px;
  }
  .btn-branding {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 15px;
    background-color: var(--main-branding-color);
    color: white;
    border-radius: 4px;
    padding: 15px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 44px;
  }

  .profile {
    margin-top: 30px;
  }

  .contact-call h3 {
    font-size: 28px;
  }
}
